h3 {
    padding: 0;
    text-align: center;
    margin: 0 0 25px 0
}

#bug-report {
    padding: 5%;
    height: 100%;
}

.label {
    float: left;
    font-weight: bold;
    font-size: 15px !important;
    letter-spacing: 0.3px;
    line-height: 20px;
    overflow: hidden;
    width: 10%;
    text-align: right !important;
    color: black !important;
    padding: 7px;
    margin: 0 25px 0 0px;
}

#title {
    background: #FFF;
    width: 20%;
    height: 5%;
}
#bug-platform {
    margin: 30px 0 30px 0px;
    width: 100%;
}

#select-option {
    width: 20%;
    height: 5%;
    border-radius: 4px;
    border-color: #ccc;
    padding: 5px;
}


#updateMde {
    border-radius: 4px;
    border-color: #ccc;
    width: 20%;
    height: 10%;
    max-width: 40%;
    max-height: 35%;
    margin: 0px;
    padding: 6px 12px;
}

.align-middle {
    margin-top: 30px;
}

.input-group {
    width: 70%;
}
#reply-attach-file-textbox {
    background-color: #fff;
    cursor: pointer;
    font-size: 14px;
    height: 34px;
}

.input-group-addon {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
    border-radius: 0;
    padding: 0;
}

#reply-attach-file {
    width: 100px;
    height: 26px;
}
.no-padding {
    padding: 0;
}

#reply-attach-file-addon {
    cursor:pointer;
}


.e-selectpart {
    border: 0;
    box-shadow: none;
    background: #ececec;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.e-btn {
    vertical-align: middle;
    border-spacing: 0;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    box-shadow: none;
}

.e-inputbtn {
    background: #fff;
    color: #333842;
    font-size: 12px;
    font-weight: bolder;
    height: 100%;
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
}

.e-uploadinput {
    height: 100%;
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
    display: block;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 200px;
}

.info {
    margin-top: 5px !important;
    font-size: 10px;
    color: #31708f;
    letter-spacing: .63px;
    margin: 0;
    font-weight: 200;
}

.primary-button {
    background: #0565ff;
    border: 0;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    height: 28px;
    line-height: 26px;
    min-width: 90px;
    outline: none;
    text-align: center;
    padding: 0 15px;
    border: 1px solid #0450cc;
}

.secondary-button {
    background: #fff;
    border: 0;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    height: 28px;
    line-height: 26px;
    min-width: 90px;
    outline: none;
    text-align: center;
    padding: 0 15px;
    border: 1px solid #b3b3b3;
}

.pull-right{
    margin-left:15px;
}

.create-report{
    padding:50px;
}

.primary-button:disabled {
    background: #f2f2f2;
    border: 1px solid #ccc;
    color: #999;
    cursor: default;
}